.button-hover-dark {
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.button-hover-dark:hover {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #000 !important;
}